html {
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
}
section {
		margin: 20px auto;
}
header section {
		margin: 0;
		padding: 10px 0;
}
img {
		max-width: 100%;
}
a {
		color: inherit;
}
h1 {
		font-size: 1.5em;
		text-align: center;
}
h2 {
		font-size: 1.5em;
}
h3 {
		font-size: 1em;
}
ul {
		list-style: none;
}
input, textarea {
		border-width: 1px;
		border-color: hsla(0, 0%, 50%, 25%);
		border-radius: 5px;
}
textarea {
		width: 100%;
}
#navbar_brand {
		font-size: 2em;
		font-weight: bold;
		color: #0d6efd;
}
#navbar {
		background-color: #f8f9fa;
}
@media screen and (min-width: 768px){
		#navbar_brand {
				color: #f8f9fa;
		}
		#navbar {
				background-color: #0d6efd;
		}
		#nav_link {
				color: rgba(255, 255, 255, 0.75);
				font-size: 0.8em;
		}
		#nav_link:hover {
				color: #ffc107;
		}
		#search_icon {
				color: rgba(255, 255, 255, 0.75);
				margin-left: 15px;
		}
}
#line {
		text-align: center;
}
#line > * {
		display: inline-block;
		width: 2.5em;
		height: 0.2em;
		background-color: #0d6efd;
		margin-right: 0.5em;
		margin-bottom: 0.1em;
		text-align: center;
}
#cover_image {
		width: 100%;
}
#contact_section ul {
		list-style: none;
}
#submit_contact {
		margin: 5px;
		background-color: orange;
		color: white;
		padding: 10px 40px;
		border-style: none;
		cursor: pointer;
}
@media screen and (min-width: 514px){
		#contact_section ul {
				list-style: disc;
		}
}
#map_img {
		width: 100%;
		height: 300px;
		object-fit: cover;
}
footer {
		background-color: #1b1919;
		color: rgba(255, 255, 255, 0.75);
		width: 100%;
		padding-top: 20px;
		padding-bottom: 10px;
}
footer ul {
		list-style: none;
		padding-left: 0;
}
footer li:before{
		content: "\f054";
		font-family: "FontAwesome";
		font-size: 0.8em;
		padding: 0 0.5em 0 0;
}
footer a:hover {
		color: rgba(255, 255, 255, 1)
}
footer span {
		color: white;
}
#mail_ft {
		background-color: black;
		color: #5b5b5b;
}
#mail_submit {
		background-color: white;
		cursor: pointer;
		padding: 0;
}
#copyright {
		text-align: center;
		padding-top: 0.8em;
		margin: 1em 0 0;
		border-style: solid none none;
		border-width: 1px;
		border-color: white;
}
