html {
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
}
section {
		margin: 20px auto;
}
header section {
		margin: 0;
		padding: 10px 0;
}
img {
		max-width: 100%;
}
a {
		color: inherit;
}
h1 {
		font-size: 1.3em;
}
aside h1 {
		text-align: center;
		background-color: #0d6efd;
		color: #f8f9fa;
		padding: 0.3em;
}
aside h2 {
		font-size: 1em;
}
h2 {
		font-size: 1.5em;
}

ul {
		list-style: none;
}

#navbar_brand {
		font-size: 2em;
		font-weight: bold;
		color: #0d6efd;
}
#navbar {
		background-color: #f8f9fa;
}
@media screen and (min-width: 768px){
		#navbar_brand {
				color: #f8f9fa;
		}
		#navbar {
				background-color: #0d6efd;
		}
		#nav_link {
				color: rgba(255, 255, 255, 0.75);
				font-size: 0.8em;
		}
		#nav_link:hover {
				color: #ffc107;
		}
		#search_icon {
				color: rgba(255, 255, 255, 0.75);
				margin-left: 15px;
		}
}

#cover_image {
		width: 100%;
}

.border_article {
		border: 1px solid hsla(0, 0%, 50%, 50%);
}
.border_article div {
		padding: 1em;
}
aside article {
		padding: 15px 0;
		border-bottom: 1px solid hsla(0, 0%, 50%, 50%);
}
footer {
		background-color: #1b1919;
		color: rgba(255, 255, 255, 0.75);
		width: 100%;
		padding-top: 20px;
		padding-bottom: 10px;
}
footer ul {
		list-style: none;
		padding-left: 0;
}
footer li:before{
		content: "\f054";
		font-family: "FontAwesome";
		font-size: 0.8em;
		padding: 0 0.5em 0 0;
}
footer a:hover {
		color: rgba(255, 255, 255, 1)
}
footer span {
		color: white;
}
#mail_ft {
		background-color: black;
		color: #5b5b5b;
}
#mail_submit {
		background-color: white;
		cursor: pointer;
		padding: 0;
}
#copyright {
		text-align: center;
		margin: 1em 0 0;
		border-style: solid none none;
		border-width: 1px;
		border-color: white;
}
